# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env
.env.*
.history/
node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log